<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
                                       FOOTER
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
<footer id="footer-wrapper">
  <!-- top part [tweeter] -->
  <div id="footer-top">
    <div class="footer-tweet-left"></div>
    <div class="footer-tweet-right"></div>
    <div class="container">
      <script charset="utf-8" src="http://widgets.twimg.com/j/2/widget.js"></script>
      <script type="text/javascript">
          // ('YOUR USERNAME','NUMBER OF POSTS');
          AddTweet('Yumla_co',1);
      </script>
    </div>
  </div>
  <!-- middle part -->
  <div id="footer-middle">
    <div class="container">
      <!-- logo & some text -->
      <div class="four columns">
        <h3 class="logo font_gautami"><a href="home.html"><img src="assets/blue/footer-logo.png" alt="BeautyMind"></a></h3>
        <p class="flogo-text">Reader will be distracted by the readable content of a page when looking at its layout. The point of using is that it has a more-or-less normal distribution.</p>
      </div>
      <!-- links -->
      <div class="four columns">
        <h3>Últimas entradas</h3>
        <ul class="latest_blog">
          <li> <a href="#"><img src="assets/44x44/latest-blog.jpg" alt=""> Content of a page when randomised.</a>
            <div class="time">Mar 27, 2012</div>
          </li>
          <li> <a href="#"><img src="assets/44x44/latest-blog-02.jpg" alt=""> Majority have suffered alteratio in some.</a>
            <div class="time">Mar 12, 2012 15:20 PM</div>
          </li>
        </ul>
      </div>
      <!-- news -->
      <div class="four columns">
        <h3>Últimas noticias</h3>
        <ul class="list_type2 latest_news">
          <li> <a href="#">Reader will be distracted by the readable content.</a>
            <div class="time">Mar 20, 2012, 9:15 AM</div>
          </li>
          <li> <a href="#">Looking at its layout. The point using is that it has.</a>
            <div class="time">Mar 12, 2012 15:20 PM</div>
          </li>
        </ul>
      </div>
      <!-- info -->
      <div class="four columns">
        <h3>Póngase en contacto</h3>
        <div class="address">
          <p>Dirección: Carrera 78 L - Calle 2A Sur, Banderas, Bogotá - Colombia<br>
            Móvil: +57 314 654 24 06<br>
            Fax: +57 000 000 00 00</p>
          <p>Email: <a href="mailto:yumla.info@gmail.com">yumla.info@gmail.com</a></p>
        </div>
        <div class="social_links">
          <!-- src ->  grey;
               data-icon -> colored -->
          <a href="#"><img src="assets/backgrounds/ico/ico.png" data-icon="assets/blue/ico.png" alt="twitter"></a>
          <a href="#"><img src="assets/backgrounds/ico/ico-02.png" data-icon="assets/blue/ico-02.png" alt="facebook"></a>
          <a href="#"><img src="assets/backgrounds/ico/ico-03.png" data-icon="assets/blue/ico-03.png" alt="StubleUpon"></a>
          <a href="#"><img src="assets/backgrounds/ico/ico-04.png" data-icon="assets/blue/ico-04.png" alt="digg"></a>
          <a href="#"><img src="assets/backgrounds/ico/ico-05.png" data-icon="assets/blue/ico-05.png" alt="vimeo"></a>
          <a href="#"><img src="assets/backgrounds/ico/ico-06.png" data-icon="assets/blue/ico-06.png" alt="youtube"></a> </div>
      </div>
    </div>

    <!-- to top -->
    <a href="#top" class="backtop" title="Page Up"><!-- Upper --></a> </div>
  <!-- bottom part  -->
  <div id="footer-bottom">
    <div id="footer-bottom-arr"></div>
    <div class="container">
      <!-- menu -->
      <div class="two-thirds column">
        <ul id="footer-menu">
          <li><a href="home.html">Yumla.co</a></li>
          <li><a href="slider.html">Cursos</a></li>
          <li><a href="typography.html">Recursos</a></li>
          <li><a href="portfolio-2c.html">Equipo</a></li>
          <li><a href="blog.html">Blog</a></li>
          <li><a href="contact.html">Contáctenos</a></li>
        </ul>
      </div>
      <!-- copyrights -->
      <div class="one-third column copyrights">
        <p>© 2011 Beautiful- All rights reserved.</p>
      </div>
    </div>
  </div>
</footer>
<!-- end footer -->
